@import './var.scss';
@media (max-width:1024px) {
    .container{
        padding: 0px 15px;
    }
    .row{
        margin: unset;
    }
   
    .head .container .bigburger {
    right: -11%;
    width: 69%;
    }
    .headleft__title {
    font-size: 66px;
    }
    div.headleft{
        flex-basis: 50%;
    }
    .filtr button{
        padding: 13px 22px;
    }
    div.headleft p {
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 43px;
}
img.appmobile__line {
    right: -26%;
}
img.appmobile__img {
    right: -132px;
}
}




@media (max-width:768px) {
    div.filtr{
        padding-bottom: 11px;
        overflow: scroll;
        margin-top: 0px;
    }
    div.filtr button{
        margin-bottom: 20px;
    }
    // div.card{
    //     display: none;
    // }
    .head .container img.bigburger {
    position:relative;
    margin-top: 0;
    }
    .head .container >.row {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .header{
        .header__mobile{
            display: inline-block;
            margin-left: auto;
            width: 15px;
        }
    }
    ul.header__menu,
    div.header__contact{
        display: none;
    }
    div.headleft__box{
        @include fb(100%);
        margin-top: -256px;
        padding: 0;
        background-color: $violet;
        color: #fff;
        padding: 167px 70px 46px;   
    }
    .head .container{
        padding: 0;
    }
    .head .header .container{
        padding: 0px 15px;
    }
    .products .col-6{
        @include fb(100%)
    }
    div.appmobile{
        padding-top: 251px;
        padding-bottom: 40px;
    }
    div.appmobile__title{
            text-align: center;
    }
    .appmobile__links{
        justify-content: center;
        flex-wrap: wrap;
    }
    img.appmobile__img{
        bottom: unset;
        right: -144px;
        top: -121px;
        left: 0;
        right: 0;
        margin: auto;
        width: 72%;
    }
    div.appmobile__box{
        padding-top: 78px;
    }
    img.appmobile__line{
        right: 0;
        left: 0;
        top: 68px;
        width: 70%;
        bottom: unset;
    }
    .footer{
        .footer__top{
            flex-direction: column;
            align-items: center;
            text-align: center;
            img{
                margin: auto;
                margin-bottom: 37px;
                
            }
        }
        .footer__item{
            margin: 0;
            @include fb(100%);
            ul{
                height: 0;
                overflow: hidden;
            }
            .footer__title{
                background-color: #F1F1F1;
                padding: 14px 0px;
                border-radius: 20px;
                position: relative;
                &::after{
                    content: '';
                    width:14px;
                    height: 7px;
                    background-image:url(../assets/img/Vector.png) ;
                    @include bg();
                    display: inline-block;
                    right: 38px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    position: absolute;
                }
            }
        }
    
        .footer__contact{
            margin-left: unset;
            @include fb(unset);
            .footer__title{
                display: none;
            }
        }
        .footer__bottom{
            bottom: 0;
            flex-direction: column-reverse;
            margin-top: 0;
            align-items: center;
            img{
                height: 39px;
            }
            a{
                margin: 0px 20px;
            }
            .footer__social{
                margin: 0;
            }
        }
    }
    
}




@media (max-width:430px) {
    div.headleft{
        .row{
            .col-6{
                @include fb(100%)
            }
        }
    }
    div.headleft p {
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 12px;
    }
    div.headleft__title {
    font-size: 36px;
    font-weight: 900;
    }
    div.headleft{
        padding-top: 60px;
        flex-basis: 0%;
    }
    img.appmobile__img {
    top: -91px;
    width: 100%;
    }
    div.appmobile__links a{
        margin-right: 0;
        margin-bottom: 12px;
        @include fb(100%);
        display: flex;
        align-items:center;
        justify-content: center;
    }
    div.appmobile__title {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 24px;
}
    div.headleft__box {
    padding: 167px 70px 37px;
    }
    .head .container .bigburger {
    right: -11%;
    width: 85%;
}
    div.product{
        padding: 15px;
        align-items: center;
        .product__title{
            font-size: 18px;
        }
        div.product__text {
            opacity: 0.4;
            font-size: 12px;
            margin-bottom: 17px;
        }
        .product__price {
            font-size: 18px;
            }
            .product__card {
            width: 35px;
            height: 35px;
}
        div.product__img{
            img{
                @include fb(127px);

            }
            div.product__status {
                width: 35px;
                height: 35px;
            }
            .product__info{
                @include fb(calc(100%-121px))
            }
            
        }
    }
}

@media (max-width:375px) {
}

